# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
vacation_df = pd.read_csv("city_data.csv", index_col=False)
vacation_df.reset_index(drop=True, inplace=True)
vacation_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,milkovo,54.72,158.62,50.67,54.0,27.0,2.37
1,avarua,-21.21,-159.78,78.80,94.0,75.0,3.36
2,san patricio,19.22,-104.70,80.28,88.0,68.0,3.31
3,hermanus,-34.42,19.23,48.99,95.0,0.0,5.03
4,busselton,-33.65,115.33,66.99,57.0,35.0,5.01
...,...,...,...,...,...,...,...
558,ust-kuyga,70.02,135.60,49.93,49.0,16.0,6.44
559,qinzhou,21.95,108.62,79.48,74.0,65.0,12.15
560,half moon bay,37.46,-122.43,71.01,93.0,90.0,10.29
561,dandong,40.13,124.39,69.39,59.0,100.0,2.82
562,soe,-9.86,124.28,87.89,30.0,7.0,11.34

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = vacation_df[['Latitude', 'Longitude']].astype(float)

# Convert Humidity to float and store
humidity = vacation_df['Humidity'].astype(float)
print(len(locations))
print(len(humidity))

563
563

In [6]:
# Plot Heatmap
fig = gmaps.figure()

# customize the size of the figure
fig_layout = {
    'width': '700px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=fig_layout)

# heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# add layer
fig.add_layer(heat_layer)

# display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
temp_df = vacation_df[(vacation_df['Max Temp'] < 90)  & (vacation_df['Max Temp'] > 60)]
temp_df = temp_df[(temp_df['Humidity'] < 80)  & (temp_df['Humidity'] > 60)]
temp_df = temp_df[(temp_df['Wind Speed'] < 40)  & (temp_df['Wind Speed'] > 10)]
temp_df = temp_df.dropna()
temp_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
16,rikitea,-23.12,-134.97,72.32,77.0,6.0,10.80
25,vila franca do campo,37.72,-25.43,64.40,63.0,40.0,13.87
28,jamestown,42.10,-79.24,60.80,77.0,1.0,11.41
44,belmonte,-15.86,-38.88,77.00,69.0,75.0,10.29
47,atuona,-9.80,-139.03,78.53,72.0,49.0,17.74
51,kapaa,22.08,-159.32,84.20,66.0,40.0,14.99
57,butaritari,3.07,172.79,83.17,72.0,88.0,12.37
63,vaini,-21.20,-175.20,77.00,78.0,20.0,12.75
82,kahului,20.89,-156.47,82.40,69.0,75.0,21.92
120,nemuro,43.32,145.57,60.80,63.0,40.0,10.29
153,altensteig,48.58,8.60,66.20,63.0,40.0,12.75
154,kavali,14.92,79.98,84.83,61.0,100.0,11.34
170,angoche,-16.23,39.91,73.09,74.0,85.0,12.26
173,cabo san lucas,22.89,-109.91,84.00,78.0,20.0,16.11
185,ribeira grande,38.52,-28.70,65.48,71.0,16.0,18.30
193,boueni,-12.90,45.08,77.00,78.0,75.0,16.11
203,shimoda,34.67,138.95,69.80,77.0,75.0,38.03
228,mitsamiouli,-11.38,43.28,76.86,75.0,1.0,10.80
233,cockburn town,21.46,-71.14,82.60,79.0,27.0,13.65
241,esperance,-33.87,121.90,60.80,67.0,75.0,10.29
246,mackay,-21.15,149.20,80.60,65.0,38.0,12.75
276,kihei,20.79,-156.47,82.40,69.0,90.0,13.87
283,vaitape,-16.52,-151.75,79.95,77.0,1.0,13.09
285,ponta delgada,37.73,-25.67,64.40,63.0,40.0,13.87
304,tagusao,9.19,117.81,86.20,69.0,90.0,11.12
308,daru,-9.08,143.21,80.87,74.0,100.0,12.53
315,eyl,7.98,49.82,78.42,70.0,64.0,21.32
331,lagoa,39.05,-27.98,65.84,70.0,100.0,14.36
332,bathsheba,13.22,-59.52,84.20,74.0,20.0,11.41
334,faanui,-16.48,-151.75,79.11,78.0,0.0,13.04
352,wanlaweyn,2.62,44.89,77.38,69.0,79.0,15.90
357,niceville,30.52,-86.48,79.00,78.0,75.0,11.41
362,carnarvon,-24.87,113.63,75.20,69.0,75.0,13.87
368,basco,20.45,121.97,83.48,79.0,20.0,14.90
374,saint-georges,12.06,-61.75,86.00,79.0,20.0,14.99
405,jati,24.35,68.27,84.38,71.0,0.0,13.89
411,laredo,27.51,-99.51,80.60,65.0,1.0,11.41
416,kismayo,-0.36,42.55,77.85,76.0,57.0,13.51
425,bambanglipuro,-7.95,110.28,82.83,71.0,88.0,11.99
448,kattivakkam,13.22,80.32,86.00,62.0,24.0,11.41
452,marabba,12.35,32.18,76.84,78.0,75.0,13.94
457,kavaratti,10.57,72.64,84.20,79.0,40.0,13.87
461,poum,-20.23,164.02,73.26,73.0,0.0,15.21
488,marsh harbour,26.54,-77.06,80.10,69.0,24.0,16.62
493,mandan,46.83,-100.89,62.60,72.0,90.0,11.41
545,fare,-16.70,-151.02,79.48,78.0,0.0,13.62
549,islamkot,24.70,70.18,84.06,69.0,45.0,13.89
550,bandarbeyla,9.49,50.81,79.03,70.0,8.0,20.78
559,qinzhou,21.95,108.62,79.48,74.0,65.0,12.15

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure